.App {
  text-align: center;
  font-family: monospace;
  max-width: 625px;
  margin: 20px auto;
  padding: 10px 10px;
}

body {
  background-image: url("ivan-sanford-V0IMj13eykc-unsplash.jpg");
  background-repeat: repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
.container {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.384);
  border: 2px solid #d46456;
  box-shadow: 0 0 30px #d46456;
  width: 90%;
  font-family: monospace;
  color: #fff;
}

h1 {
  text-align: center;
  color: #fff;
}

.App footer {
  text-align: center;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 5px;
  color: #fff;
  font-weight: 700;
  font-family: monospace;
}
footer a {
  color: #ffff;
  text-decoration-line: none;
}

footer:hover a {
  color: #fff;
  text-decoration-line: underline;
  font-weight: bolder;
}

@media screen {
  .container {
    width: 70%;
  }
}
